@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here is a test task that accepts JSON as input and converts it into a hierarchical tree</a>.</p>
</div>
